.App {
    max-width: 700px;
    margin: 50px auto;


}

.App .card {
    background-color: transparent;

}



body {
    background: url(./images/main-clear.jpeg);
    background-size: no-repeat center center/cover;

}


@media screen and (max-width: 740px) {
    .App {
        display: inline-block;
    }

    footer {
        text-align: center;
    }


}


.App footer {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}